* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.firstsec{
    width: 100%;
    height: 100vh;
}
.container  {
    width: 100%;
    height: 100vh;
    background-color: #42168a;
    opacity: 0.95;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    background-color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #42168a;
    font-size: 18px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #fc03e7;
    color: #e61b1b;
    border: 2px solid #ffffff;
}

#explore {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.exploretxt {
    color: #42168a;
    text-align: center;
}
.exploreitems {
    width: 90%;
    height: 80vh;
    border: 1px solid #42168a;
    display:flex;
    justify-content: center;
}
.exploreitems1 {
    width: 50%;
    height: 80vh;
    border: 1px solid green;
}
.exploreitems2 {
    width: 50%;
    height: 80vh;
    border: 1px solid red;
}
.thirdsec{
    width: 100%;
    height: 100vh;
    background-color: #461475;
}
footer{
width: 100%;
height: 70px;
background-color: #252424;
text-align: center;
}
nav{
    width: 100%;
    height: 150px;
    background-color: #461475;
    display: flex;
    justify-content: flex-end;
}
.links {
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul {
    width:50%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    font-size: 20px;
}
ul li a:hover {
    color: chartreuse;
    font-size: 25px;
}

.div5{
    width: 100%;
    height: 400px;
    background-color: #fc03e7; 
    
}
.div10{
    width: 50%;
    height: 400px;
    
    
}
