* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background:linear-gradient(to right,#7373fd,#e202e2) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{height: 40px;
    width:300px;
text-align: center;
    background:linear-gradient(to right,#7373fd,#e202e2) ;
border: none;
margin-top: 29px;
}
.div1{
    height: 600px;
    width: 400px;
    background-color: #ffffff;
    border: 2px;
    background-position: 3%;
    margin: 20px;
    padding-left: 20px;
}

.div1 h1 {
    text-align: center;
    padding: 20px;
}

input {
    width: 300px;
    height: 40px;
    margin:0px
}